:root {
	--colors-blue: #579dc8;
	--colors-green: #7feea1;
	--colors-white: rgb(230, 228, 241);
	--colors-orange: #f7ab50;
	--colors-black: #17141b;
	--colors-gray: #24202b;
	--colors-lightgray: #40394d;
	--colors-lightergray: #4c455a;

	--sizes-control-height: 2rem;
	--primary-padding: 1rem;
}

html {
	background: rgb(148, 117, 169);
}

html,
body {
	// background-color: var(--colors-black);
	color: var(--colors-white);
	font-family: sans-serif;
}

a {
	color: white;
	text-decoration: underline;
	font-weight: bolder;
	color: var(--colors-blue);

	&:hover,
	&:visited {
		color: var(--colors-blue);
		text-decoration: none;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(255, 255, 255);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--colors-green);
	border-radius: 10px;
}